*{
    box-sizing: border-box;
}
body{
    color: rgb(82, 82, 82);
    display: block;
    font-family: 'Nunito', sans-serif;
    /* background-color: rgb(226, 235, 250); */
    /* background: linear-gradient(rgb(220, 230, 249),rgb(243, 246, 251)); */
    background: rgb(255, 243, 235);
    min-height: 100vh;
    margin: 0;
}

/* navbar */
.menu{
    padding-left: 0;
    z-index: 2;
    margin-bottom: 0;
}
.logo{
    height: 4rem;
    width: auto;
    display: inline-block;
    margin: 10px;
}

.logo:hover{
    transform: rotate(360deg);
    transition: ease 500ms;
}

.header{
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    background: rgb(255, 243, 235);
    z-index: 1100;
}

.logo-{
    font-family: 'Nunito', sans-serif;
    color: #ae7d72;
    text-decoration: none;
    font-weight: bold;
}
.logo-:hover{
    text-decoration: none;
    color: #ae7d72
}

.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    align-items: center;
}
.menu a{
    display: flex;
    padding: 1rem;
    color: #cb9c91;
    font-size: large;
    justify-content: center;
}
.menu a:hover{
    color: #ae7d72;
    font-style: oblique;
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}
/* Style label tag */

.hamb-line {
    background: #cb9c91;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    background-color: #cb9c91;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: #cb9c91;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
    align-items: center;
    align-content: center;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Hero */
.heroo{
    /* background-color:rgb(255, 243, 235); */
    background-image: url("../images/puphero.png");
    background-repeat:no-repeat;
    background-size:cover;
    height: 100%;
    padding: 100px 50px;
    align-items: center;
}
.heroo-text{
    align-items: center;
    color: #755f54;
}

.preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
  }
  
  .preloader img{
    animation: spin 3s ease;
    width: 150px;
    margin: 0 auto;
  }
  
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }

  @media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
        list-style: none;
    }
    .menu a:hover{
        color: #b38074;
        font-style: oblique;
    }
    .hamb{
        display: none;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width: 768px) {
    .nav{
        display: block;
        background-color: rgb(255, 243, 235)}
    .nav ul{
        padding: 5px;
    }
    }

/* squig */
.squig{
    display: flex;
    justify-content: center;
}

/* image strips */

      .card img {
        max-width: 100%;
        width: auto;
        height: auto;
        vertical-align: middle;
      }

      .card {
        margin: 0 0.5em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
        border-radius: 0;
        width: 300px;
        height: 300px;
      }
      .carousel-inner {
        padding: 1em;
      }
      .carousel-control-prev,
      .carousel-control-next{
        background-color: #e1e1e1;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        top: 50%;
        transform: translateX(-25%);
      }
      @media (min-width: 768px) {
        .card img {
          height: 19em;
        }
      }
    

    .btn{
        background-color: #d4a393;
        color: white;
        border-color: #d4a393;
        margin-bottom: 1rem;
      }
    .btn:focus{
        color: white;
        box-shadow: none;
    }
    .btn:hover{
        border-color: #d4a393;
        color: white;
    }

    .texts{
        display: block;
        text-align: center;
        padding-top: 10px;
    }

 
/* almond */

.almond .cards-wrapper {
    display: flex;
    justify-content: left;
  }

/* toto */
.toto {
    justify-content: right;
}
.toto .cards-wrapper {
    display: flex;
    justify-content: right;
  }

  /* snoopy */
.snoopy {
    justify-content: left;
}
.snoopy .cards-wrapper {
    display: flex;
    justify-content: left;
  }
